{% load static %}
<html lang="en">
<head>
<title>Create Transaksi Pemebelian</title>

<meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Create Transaksi Pembelian</strong>
    </h5>

   <!--FORM -->
   <div>
    <br>
      <form method="POST">
        {% csrf_token %}
      <label >ID Konsumen:</label>

        <select id="id_konsumen" name ="id_konsumen" >
            <option value="none">none</option>
            {% for id in data %}
               <option value="{{id.id_konsumen}}">{{id.id_konsumen}}</option>
            {% endfor %}
        </select>
        <button class="btn text text-center" type="submit" style="background-color:#ECD897 ; color:black;margin-top:auto;margin-right: auto;margin-left: auto">SUBMIT</button>
      </form>
        
        <br>
        <br>
        <br>
        <br>

  </div>

</div>