{% load static %}
<html lang="en">
<head>
<title>Update Transaksi Pembelian</title>

<meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<!-- Material form contact -->
<a href="{% url 'profil:profil' %}" class="btn btn-danger"><b>Profil</b></a>
<div class="card">
  
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Update Transaksi Pembelian</strong>
    </h5>

   <!--FORM -->
      <form class="form-group horizontal" method="POST">
        {% csrf_token %}
      <div class="form-group ">
        <div class="form-group ">
          <label id="id_transaksi_pembelian">ID Transaksi Pembelian: </label>
        <input type="text" name="id_transaksi_pembelian"  value = "{{ id}}"  disabled>
        </div>
        <div class="form-group">
          <label for="">Waktu Pembelian: </label>
              <input type="text" name="waktu"  value = "{{waktu}}"  disabled>
        </div>
        <div class="form-group">
          <label for="">Total pembayaran: </label>
              <input type="text" name="total_pembayaran"  value = "{{total_pembayaran}}"  disabled>
        </div>
        <div class="form-group">
          <label >ID Konsumen:</label>
        <select  name ="id_konsumen" >
            <option value="none">none</option>
            {% for id in id_konsumen %}
              <option value="{{id.id_konsumen}}">{{id.id_konsumen}}</option>
            {% endfor %}
        </select>
    <button class="btn text text-center" type="submit" style="background-color:#ECD897 ; color:black;margin-top:auto;margin-right: auto;margin-left: auto">UPDATE</button>
        </div>
        
  </form>
  </div>
     
        
        <br>
        <br>
        <br>
        <br>

  </div>

  </div>

</div>