<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        h1 {
            color: maroon;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            background-color: linen;
            margin-left: 40px;
            margin-right: 50px;
        }
    </style>
    <title>Info Transaksi Dengan Resep</title>
</head>

<body>
    <div class="page-header">
        <h1>Info Transaksi Dengan Resep</h1>
    </div>
    
    <a href="{% url 'profil:profil' %}" class="btn btn-danger"><b>Profil</b></a>
    {% if request.session.role == 'admin_apotek' %}
    <div class="pi-draggable btn-group" draggable="true">
        <a href="{% url 'transaksi_resep:create_transaksi_resep' %}" class="btn btn-danger"><b>Add</b></a>
    </div>
    {% elif request.session.role == 'cs'%}
    <div class="pi-draggable btn-group" draggable="true">
        <a href="{% url 'transaksi_resep:create_transaksi_resep' %}" class="btn btn-danger"><b>Add</b></a>
    </div>
    {% endif %}

    <div>
        <table class=' table table-condensed '>
            <thead>
                <tr>
                    <th>No Resep</th>
                    <th>Dokter</th>
                    <th>Pasien</th>
                    <th>Isi Resep</th>
                    <th>Unggahan Resep</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th>No Telepon</th>
                    <th>Transaksi</th> 
                    <th>Email Apoteker</th>
                    {% if request.session.role == 'admin_apotek' %}
                    <th>Action</th>
                    {% elif request.session.role == 'cs' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for transaksi in data_transaksi_dengan_resep %}
                <tr>
                    <td>{{ transaksi.no_resep }}</td>
                    <td>{{ transaksi.nama_dokter }}</td>
                    <td>{{ transaksi.nama_pasien }}</td>
                    <td>{{ transaksi.isi_resep }}</td>
                    <td>{{ transaksi.unggahan_resep }}</td>
                    <td>{{ transaksi.tanggal_resep }}</td>
                    <td>{{ transaksi.status_validasi }}</td>
                    <td>{{ transaksi.no_telepon }}</td>
                    <td>{{ transaksi.id_transaksi_pembelian }}</td>
                    <td>{{ transaksi.email_apoteker }}</td>
                    {% if request.session.role == 'admin_apotek' %}
                    <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a href="{% url 'transaksi_resep:update_transaksi_resep' no_resep=transaksi.no_resep %}" class="btn btn-primary"><b>Update</b></a>
                            <a href="{% url 'transaksi_resep:delete_transaksi_resep' no_resep=transaksi.no_resep %}" class="btn btn-danger"><b>Delete</b></a>
                        </div>
                    </td>
                    {% elif request.session.role == 'cs' %}
                    <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a href="{% url 'transaksi_resep:update_transaksi_resep' no_resep=transaksi.no_resep %}" class="btn btn-primary"><b>Update</b></a>
                            <a href="{% url 'transaksi_resep:delete_transaksi_resep' no_resep=transaksi.no_resep %}" class="btn btn-danger"><b>Delete</b></a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>