{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrasi Konsumen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
            color: maroon;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            background-color: linen;
            margin-left: 50px;
            margin-right: 50px;
        }
        
        .form-tambahan {
            margin-bottom: 50px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/form.js' %}"></script>
</head>

<body>
    <div>
        <h1>Registrasi Konsumen</h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div>
        <form action='' method="POST" class="form-group">
            {% csrf_token %} {{register_form}}
            <div>
                <p>Alamat</p>
                <table class='form-alamat'>
                    <tr>
                        <td>+</td>
                        <td><input type='text' name='status-alamat-1' class='form-control' placeholder='Status Alamat'></td>
                        <td>:</td>
                        <td><input type='text' name='alamat-1' class='form-control' placeholder='Alamat'></td>
                    </tr>
                </table>
                <td><button class='add-field'>Tambah Alamat</button></td>
            </div>
            <div class="centre-items">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </form>
    </div>
</body>

</html>

</html>