<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrasi Costumer Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
            color: maroon;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            background-color: linen;
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Registrasi Customer Service</h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div>
        <form action='' method="POST" class="form-group">
            {% csrf_token %}
            {% for field in register_form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="centre-items">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </form>
    </div>
</body>

</html>