<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        h1 {
            color: maroon;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            background-color: linen;
            margin-left: 40px;
            margin-right: 50px;
        }
    </style>
    <title>List Produk Dibeli</title>
</head>

<body>
    <div class="page-header">
        <h1>List Produk Dibeli</h1>
    </div>
<div>
    <table class=' table table-condensed '>
        <thead>
            <tr>
                <th>ID Produk</th>
                <th>ID Apotek</th>
                <th>ID Transaksi Pembelian</th>
                <th>Jumlah</th>
                {% if request.session.role == 'admin_apotek' %}
                    <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for list_produk in data_list_produk %}
            <tr>
                <td>{{ list_produk.id_produk }}</td>
                <td>{{ list_produk.id_apotek }}</td>
                <td>{{ list_produk.id_transaksi_pembelian }}</td>
                <td>{{ list_produk.jumlah }}</td>
                {% if request.session.role == 'admin_apotek' %}
                    <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a class="btn btn-primary" href="{% url 'list_produk:update_list_produk' id_produk=list_produk.id_produk id_apotek=list_produk.id_apotek id_transaksi_pembelian=list_produk.id_transaksi_pembelian %}"><b>Update</b></a>
                            <a class="btn btn-danger" href="{% url 'list_produk:delete_list_produk' id_produk=list_produk.id_produk id_apotek=list_produk.id_apotek id_transaksi_pembelian=list_produk.id_transaksi_pembelian %}"><b>Delete</b></a>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>

</html>