{% load static %}
<html lang="en">

<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

    <!------ Include the above in your HEAD tag ---------->
    <div>

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Profil</strong>
        </h5>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">FarmaKami</a>
            <div class="dropdown">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Balai Pengobatan dan Apotek
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/balai_pengobatan">Daftar Balai Pengobatan</a>
                            <a class="dropdown-item" href="/apotek">Daftar Apotek</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transaksi Pembelian dan Resep
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/transaksi_pembelian">Daftar Transaksi Pembelian</a>
                            <a class="dropdown-item" href="/transaksi_resep">Daftar Transaksi Resep</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produk Apotek
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/produk_apotek">Daftar Produk Apotek</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    List Produk Dibeli
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/list_produk">Daftar List Produk Dibeli</a>
                            <a class="dropdown-item" href="/list_produk/create_list_produk">Buat List Produk Dibeli</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pengantaran Farmasi
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pengantaran_farmasi">Daftar Pengantaran Farmasi</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Obat dan Alat Medis
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/obat">Daftar Obat</a>
                            <a class="dropdown-item" href="/alat_medis">Daftar Alat Medis</a>
                        </div>
                    </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'auth:logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="" data-toggle="tab">Profil</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <form class="form-group" id="tab">
                        <div>
                            <label>Nama_lengkap</label>
                            <input type="text" value="{{general_data.nama_lengkap}}" class="input-xlarge" disabled>
                            <div class="text-center text-sm-right"></div>
                            <label>Role</label>
                            <input type="text" value="Kurir" class="input-xlarge" disabled>
                            <label>ID Kurir</label>
                            <input type="text" value="{{data_kurir.id_kurir}}" class="input-xlarge" disabled>
                            <label>Nama Perusahaan</label>
                            <input type="text" value="{{data_kurir.nama_perusahaan}}" class="input-xlarge" disabled>
                            <label>Email</label>
                            <input type="text" value="{{data_kurir.email}}" class="input-xlarge" disabled>
                            <label>Telepon</label>
                            <input type="text" value="{{general_data.telepon}}" class="input-xlarge" disabled>
                            <label>Password</label>
                            <input type="text" value="{{general_data.password}}" class="input-xlarge" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>