body {
    background: rgb(18, 65, 3);
    background: linear-gradient(90deg, rgba(18, 65, 3, 1) 0%, rgba(54, 227, 39, 1) 76%, rgba(0, 255, 204, 1) 100%);
    font-family: Roboto;
    font-weight: 100;
}

h1,
h2 {
    text-align: center;
}

.regis {
    margin-top: 50px;
}

.col-sm {
    text-align: center;
    margin-top: 100px;
}

.opsi {
    margin-top: 200px;
}

.option {
    color: white;
    font-size: 1.6em;
    font-weight: 1px;
    margin-right: 20px;
    padding: 3px 35px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
}

.option:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: ghostwhite;
}