<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        h1 {
            color: maroon;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            background-color: linen;
            margin-left: 40px;
            margin-right: 50px;
        }
    </style>
    <title>Pengantaran Farmasi</title>
</head>

<body>
    <div class="page-header">
        <h1>Pengantaran Farmasi</h1>
    </div>
    <div>
        <table class=' table table-condensed '>
            <thead>
                <tr>
                    <th>ID Pengantaran</th>
                    <th>ID Kurir</th>
                    <th>ID Transaksi</th>
                    <th>Waktu</th>
                    <th>Status</th>
                    <th>Biaya Kirim</th>
                    <th>Total Biaya</th>
                    {% if request.session.role == 'admin_apotek' %}
                        <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pengantaran_farmasi in data_pengantaran_farmasi %}
                <tr>
                    <td>{{ pengantaran_farmasi.id_pengantaran }}</td>
                    <td>{{ pengantaran_farmasi.id_kurir }}</td>
                    <td>{{ pengantaran_farmasi.id_transaksi_pembelian }}</td>
                    <td>{{ pengantaran_farmasi.waktu }}</td>
                    <td>{{ pengantaran_farmasi.status_pengantaran }}</td>
                    <td>{{ pengantaran_farmasi.biaya_kirim }}</td>
                    <td>{{ pengantaran_farmasi.total_biaya }}</td>
                    {% if request.session.role == 'admin_apotek' %}
                        <td>
                            <div class="pi-draggable btn-group" draggable="true">
                                <a class="btn btn-primary" href="{% url 'pengantaran_farmasi:update_pengantaran_farmasi' id_pengantaran=pengantaran_farmasi.id_pengantaran %}"><b>Update</b></a>
                                <a class="btn btn-danger" href="{% url 'pengantaran_farmasi:delete_pengantaran_farmasi' id_pengantaran=pengantaran_farmasi.id_pengantaran %}"><b>Delete</b></a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>