<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        h1 {
            color: maroon;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            background-color: linen;
            margin-left: 40px;
            margin-right: 50px;
        }
    </style>
    <title>Info Alat Medis</title>
</head>

<body>
    <div class="page-header">
        <h1>Info Alat Medis</h1>
    </div>

    <a href="{% url 'profil:profil' %}" class="btn btn-danger"><b>Profil</b></a>
    {% if request.session.role == 'admin_apotek' %}
    <div class="pi-draggable btn-group" draggable="true">
        <a href="{% url 'alat_medis:create_alat_medis' %}" class="btn btn-danger"><b>Add</b></a>
    </div>
    {% elif request.session.role == 'cs'%}
    <div class="pi-draggable btn-group" draggable="true">
        <a href="{% url 'alat_medis:create_alat_medis' %}" class="btn btn-danger"><b>Add</b></a>
    </div>
    {% endif %}

    <div>
        <table class=' table table-condensed '>
            <thead>
                <tr>
                    <th>ID alat Medis</th>
                    <th>Nama Alat Medis</th>
                    <th>Deskripsi</th>
                    <th>Jenis Penggunaan</th>
                    <th>ID produk</th>
                    {% if request.session.role == 'admin_apotek' %}
                    <th>Action</th>
                    {% elif request.session.role == 'cs' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for alat_medis in data_alat_medis %}
                <tr>
                    <td>{{ alat_medis.id_alat_medis }}</td>
                    <td>{{ alat_medis.nama_alat_medis }}</td>
                    <td>{{ alat_medis.deskripsi_alat }}</td>
                    <td>{{ alat_medis.jenis_penggunaan }}</td>
                    <td>{{ alat_medis.id_produk }}</td>
                    {% if request.session.role == 'admin_apotek' %}
                    <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a href="{% url 'alat_medis:update_alat_medis' id_alat_medis=alat_medis.id_alat_medis id_produk=alat_medis.id_produk %}" class="btn btn-primary"><b>Update</b></a>
                            <a href="{% url 'alat_medis:delete_alat_medis' id_alat_medis=alat_medis.id_alat_medis id_produk=alat_medis.id_produk %}" class="btn btn-danger"><b>Delete</b></a>
                        </div>
                    </td>
                    {% elif request.session.role == 'cs' %}
                    <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a href="{% url 'alat_medis:update_alat_medis' id_alat_medis=alat_medis.id_alat_medis id_produk=alat_medis.id_produk %}" class="btn btn-primary"><b>Update</b></a>
                            <a href="{% url 'alat_medis:delete_alat_medis' id_alat_medis=alat_medis.id_alat_medis id_produk=alat_medis.id_produk %}" class="btn btn-danger"><b>Delete</b></a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>