{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farma Kami</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Farma Kami</h1>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="opsi">
                    <a href="/auth/login" class="option">Login</a>
                    <a href="/register" class="option">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>