{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farma Kami</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <h2 class="regis">Ingin registrasi sebagai apa?</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/auth/register_admin" class="option">Admin Apotek</a>
                <a href="/auth/register_konsumen" class="option">Konsumen</a>
            </div>
            <div class="col-sm">
                <a href="/auth/register_kurir" class="option">Kurir</a>
                <a href="/auth/register_cs" class="option">Costumer Service</a>
            </div>
        </div>
    </div>
</body>

</html>