<html lang="en">

<head>
    <title>Update Balai Pengobatan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        h1 {
        color: maroon;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        }

        body {
        background-color: linen;
        margin-left: 40px;
        margin-right: 50px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Update Balai Pengobatan</h1>
    </div>
    <div>
        <form action='' method="POST">
        {% csrf_token %}
        {% for field in update_form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <div class="centre-items">
            <button type="submit" class="btn btn-primary" value="Update Balai Pengobatan">Update</button>
        </div>
        </form>
    </div>
</body>

</html>
