<html lang="en">

    <head>
    <title>Informasi Obat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        h1 {
        color: maroon;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        }

        body {
        background-color: linen;
        margin-left: 40px;
        margin-right: 50px;
        }
    </style>
    </head>

    <body>
        <div class="page-header">
            <h1>Informasi Obat</h1>
        </div>

        <a href="{% url 'profil:profil' %}" class="btn btn-danger"><b>Profil</b></a>
        {% if request.session.role == 'admin_apotek' %}
        <div class="pi-draggable btn-group" draggable="true">
            <a href="{% url 'obat:create_obat' %}" class="btn btn-danger"><b>Create</b></a>
        </div>
        {% endif %}
    
        <div>
            <table class=' table table-condensed '>
                <thead>
                    <tr>
                        <th>ID Obat</th>
                        <th>ID Produk</th>
                        <th>ID Merk Obat</th>
                        <th>Netto</th>
                        <th>Dosis</th>
                        <th>Aturan Pakai</th>
                        <th>Kontraindaksi</th>
                        <th>Bentuk Kesediaan</th>
                        {% if request.session.role == 'admin_apotek' %}
                        <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for obat in data_obat %} 
                <tr>
                    <td>{{ obat.id_obat }}</td>
                    <td>{{ obat.id_produk }}</td>
                    <td>{{ obat.id_merk_obat }}</td>
                    <td>{{ obat.netto }}</td>
                    <td>{{ obat.dosis }}</td>
                    <td>{{ obat.aturan_pakai }}</td>
                    <td>{{ obat.kontraindaksi }}</td>
                    <td>{{ obat.bentuk_kesediaan }}</td>
                    {% if request.session.role == 'admin_apotek' %}
                    <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a class="btn btn-primary" href="{% url 'obat:update_obat' key=obat.id_obat %}"><b>Update</b></a>
                            <a class="btn btn-danger" href="{% url 'obat:delete_obat' key=obat.id_obat %}"><b>Delete</b></a>
                        </div>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>

</html>
