<html lang="en">

<head>
    <title>Update Obat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
        color: maroon;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        }

        body {
        background-color: linen;
        margin-left: 40px;
        margin-right: 50px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Update Obat</h1>
    </div>
    <div>
        <form action='' method="POST">
        {% csrf_token %}
        {% for field in update_form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="centre-items">
            <button type="submit" class="btn btn-primary" value="Update Balai Pengobatan">Update</button>
        </div>
        </form>
    </div>
</body>

</html>
